
<style include="iron-flex iron-flex-factors iron-flex-alignment iron-positioning">
  
  /* ====== Typography ============ */
  h1{
    /* Huge heading */
  }

  h1,h2,h3,h4{
    margin: 0;
    color: inherit;
  }

  h2{
    /* For subtitles */
  }

  h3{
    /* For bold heading */
    font-weight: 500;
    letter-spacing: .02rem;
    font-size: 1.2rem;
  }

  /* Really light text */
  h4{
    font-weight: 300;
  }

  /* ====== Typography ============ */
  img{
    width: 100%;
  }

  .rounded-slightly{
    border-radius: 8px;

  }

  paper-button{
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 18px;
  }

  .accent-button{
    background-color: var(--app-accent-color);
    color: white;
  }

  .accent-button:hover{
    background-color: #14c5b5;
  }

  .mar-l-r-8{
    margin-left: 8px;
    margin-right: 8px;
  }

  .shadow{
    box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
  }

  .pad{
    padding: 1em;
  }
  .avatar{
    border-radius: 50%;
    background-color: #eee;
    overflow: hidden;
    max-height: 100px;
    max-width: 100px;
  }
  .heading-6{
    font-size: .9rem;
    font-weight: 400;
    color: #929292;
    letter-spacing: .5px;
  }
</style>
